body
{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    /* background-color: aqua; */
    background-image: linear-gradient(180.2deg, rgb(254, 3, 104) 9.3%, rgb(103, 3, 255) 89.5%);
}
.main
{
    width: 400px;
    height: 550px;
    background: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    overflow: hidden;
    top:25%;
    left : 25%;
    position:relative;
}
.signup
{
   position: relative;
   /* static,relative,absolute,fixed,sticky for defining positin */
    width: 100%;
    /* position: absolute; */

}
label{
    color: white;
    margin: 100px;
    display:flex;
    justify-content: center;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    cursor:pointer;
   
    transition: 2s ease-in-out;
  
}


input{
    height: 15px;
    width:60%;
    margin: 10px auto;
    justify-content: center;
    border: none;
    border-radius: 5px;
    display: flex;
    display: block;
    font-size: 15px;
}
input{
    width: 60%;
    height: 15px;
    margin:10px auto;
    justify-content: center;
    padding: 10px;
    border: none;
    border-radius: 25px;
    display: flex;
}
button
{
    justify-content: center;
    width: 60%;
    margin-top: 10px;
    display: block;
    font-weight: bold;
    font-size: 15px;
}
button:hover
{
    background-color: rgb(209, 211, 213);
}

.Login 
{
    height: 400px;
    background:#d62f2f;
    border-radius: 60%/10%;
    transform: translateY(-150px);
    transition: 6s ease-in-out;
    flex-direction: column;
    justify-content: column;
    align-items: center;
  
} 
.Login label{
    margin: 50px;
    color: #b58ecc;
     /* transform-scale(.6) */

}
#chk
{
    display: none;
}

   
    